body {
    width: 98vw;
    height: 95vh;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
}
#container {
    width: 60%;
    height: 60%;
    border-style: solid;
    border-color: black;
    margin-top: 40px;
    border-width: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    text-align: center;


}
#title {
    background-color: rgb(206, 206, 223);
    grid-column:  1 / 2;
    grid-row: 0 / 1;


}
#timer {
    background-color: yellow;
    grid-column:  2 / 3;
    grid-row: 0 / 1;

}
#canvas-container {
    grid-column:  1 / 6;
    grid-row: 2 / 6;
}
#canvas {
    width: 100%;
    height: 100%;
}